body {
    background-color: #f3eeee;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 24px, 24px, 24px;
}

#profile {
    width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
   
    
}

 .profile_dai {
    text-align: center;
    color: #1d8df5;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-info h2 {
    margin-right: 20px;
    color: #1d8df5;
}

.profile-info p {
    line-height: 1.5;
    margin-right: 20px;
    color: #16528a;
    display: flex;
}

.r-image {
    margin-left: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    order: 2;
}

.contact-link {
    color: #fff;
    text-decoration: none;
    background-color: #1d8df5;
    padding: 10px 16px;
    border-radius: 8px;
}

.card-dai {
    place-content: center;
    display:grid;
    padding: 24px 24px 24px 24px;
}