body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1000px;
  margin: 0;
}
.contact-card {
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(11, 61, 153, 0.2);
  overflow: hidden;
  width: 450px;
}
.contact-card-header {
  background-color: #19bda1;
  text-align: center;
  padding: 28px;
  width: auto;
  height: 400px;
}
.contact-card-body {
  padding: 50px;
  width: auto;
  height: 280px;
}
.avatar {
  border-radius: 50%;
  width: 250px;
  height: 450px;
}

.info h4 {
  font-size: 18px;
  margin: 12px;
  display: flex;
  align-items: center;
}
.info p {
  font-size: 15px;
  font-weight: normal;
  color: #999;
  margin: 0;
  margin-top: -10px;
  margin-left: 50px;
}
.contact-card-body i {
  margin-right: 8px;
  color: #4d7fff;
  font-size: 30px;
  

}

.contact {
  text-align: center;
  padding: 30px;
}

.button {
  padding: 15px;
  background: #19bda1;
  color: black;
  border: 10;
  border-radius: 25px;
  font-size: 18px;
  background-size: 100%;
  align-items: center;
}
